
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: url("../images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.containeer {
  width: 100%;
  max-width: 1352px;
  margin: auto;
  padding: 40px 16px;
  z-index: 1;
}
.container-manage {
  width: 100%;
  max-width: 1352px;
  margin: auto;
  padding: 40px 10px;
  z-index: 1;
}

.img {
  width: 600px;
  height: 500px;
  background: url("../images/cell.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -265px;
  right: 0;
  /* filter: blur(10px); */
  z-index: -2;
}

.img1 {
  width: 410px;
  height: 510px;
  background: url("../images/cell1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -200px;
  right: 0;
  filter: blur(1px);
  z-index: -1;
}

.img2 {
  width: 170px;
  height: 470px;
  background: url("../images/cell2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -70px;
  right: 0;
  /* filter: blur(10px); */
  z-index: -1;
}

.img3 {
  width: 589px;
  height: 460px;
  background: url("../images/cell3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 700px;
  left: 0;
  /* filter: blur(10px); */
  z-index: -1;
}

.img4 {
  width: 434px;
  height: 450px;
  background: url("../images/cell4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 600px;
  left: -10px;
  /* filter: blur(10px); */
  z-index: -1;
}

.img5 {
  width: 245px;
  height: 354px;
  background: url("../images/cell5.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 420px;
  left: -10px;
  /* filter: blur(10px); */
  z-index: -1;
}

.image-git1 {
  display: none;
}

.git-btn:hover p{
  color: rgb(93, 93, 238);
}

.git-btn:hover .image-git{
  display: none;
}

.git-btn:hover .image-git1{
  display: flex;
}

.btn{
  overflow: hidden;
  position: relative;
}

.btn::after {
  content: "";
  width: 10px;
  height: 200px;
  position: absolute;
  top: -100%;
  left: -100%;
  background: rgba(255, 255, 255, .2);
  transform: rotate(35deg);
  animation: animate .8s ease-in-out infinite;
}

.btn:hover.btn::after {
  width: 0;
  animation: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.sticky {
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, .1);
}

@keyframes animate {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (max-width: 414px) {
  .container-manage {
    max-width: none !important;
    padding: 10px 0;
  }
}
